@import "~bootstrap/scss/bootstrap.scss";
@import "~tabulator-tables/src/scss/tabulator.scss";

.char-card {
  height: 600px;
  z-index: 0;
}

.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  z-index: 0;
}

.card-elem {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  z-index: 1;
}

button {
  z-index: 10;
}
